<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <title>Boooowwwllllooooorrrraaammmmmaaa</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<p></p>
<p></p>
<div class="container" align="center">

  <div class="alert alert-dark" role="alert">
    Game - In Progress
  </div>
  <p></p>
  Game ID : <text th:text="${game.getId()}"></text>
  <p></p>
  Score : <text th:text="${game.getScore()}"></text>
  <p></p>
  First Shot : <text th:text="${game.getFirstBowlPins()}"></text>
  <p></p>
  Second Shot : <text th:text="${game.getSecondBowlPins()}"></text>
  <p></p>
  Frame : <text th:text="${game.getFrameNumber}"></text>
  <p></p>
  <form action=# th:action="@{/bowl/{id}(id=${game.id})}" th:object ="${game}" method="GET">
    <input type="hidden" th:field = "*{id}">
    <button type="submit" class="btn btn-primary btn-lg active col-2">Bowl</button>
  </form>

  <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Exit</a><p></p>


</div>

</body>
</html>