<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Boooowwwllllooooorrrraaammmmmaaa</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<p></p>
<p></p>
<div class="container" align="center">

    <div class="alert alert-dark" role="alert">
        Welcome to Boooowwwllllooooorrrraaammmmmaaa!!!
    </div>
    <br>

<a th:href = "@{/newPlayerForm}" class = "btn btn-dark btn-lg">New Player</a>
<p></p>
    <br>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>Player Name</th>
            <th>Player ID</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${listPlayers}">
            <td th:text="${player.getPlayerName()}"></td>
            <td th:text="${player.getId()}"></td>
            <td><a th:href="@{/continueGame/{id}(id=${player.id})}" class="btn btn-dark"> Continue?</a>
                <a th:href="@{/removePlayer/{id}(id=${player.id})}" class="btn btn-secondary"> Remove</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>