<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <title>Boooowwwllllooooorrrraaammmmmaaa</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<p></p>
<p></p>
<div class="container" align="center">

  <div class="alert alert-dark" role="alert">
    Start Game
  </div>
  <p></p>
  <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Start</a><p></p>
  <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Exit</a><p></p>

Put some game logic here :)



</div>

</body>
</html>